body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  --color-link: rgb(0, 0, 238);
}

.clear {
  clear: both;
}

.container {
  margin: 24px;

  * {
    display: block;
  }
}

.description {
  a[href] {
    display: inline;
    color: var(--color-link);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

#text {
  width: calc(100% - 20px);
  height: 32px;
  margin: 16px 0;
  padding: 8px;
  font-size: inherit;
}

#label-error-level {
  float: left;
  width: 200px;
  line-height: 32px;
  margin: 12px;
}

#error-level {
  width: calc(100% - 224px);
  margin: 16px 0;
  padding: 16px;
  font-size: inherit;
}

#label-with-logo {
  float: left;
  width: 168px;
  line-height: 32px;
  margin: 26px 12px;
}

#with-logo {
  float: left;
  margin: 26px 0px;
  width: 32px;
  height: 32px;
  font-size: inherit;
}

#logo-text {
  width: calc(100% - 244px);
  height: 32px;
  margin: 16px 0;
  padding: 8px;
  font-size: inherit;
}

#generate,
#download-png,
#download-svg {
  height: 48px;
  margin: 8px 0;
  font-size: inherit;
}

#generate {
  width: 100%;
}

#download-png,
#download-svg {
  width: calc(50% - 16px);
  float: left;
}

#download-png {
  margin-right: 32px;
}

#result-buttons {
  display: none;
}

#result svg,
#result img {
  margin: 8px auto;
  max-width: 300px;
  max-height: 300px;
}
