@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --bg: white;
  --color-stroke: #e5e4e7;
  --color-link: rgb(0, 0, 238);

  /* Grey scale */
  --grey1: rgb(233, 233, 233);
  --grey2: rgb(197, 197, 197);
  --grey3: rgb(164, 164, 164);
  --grey4: rgb(107, 107, 107);
  --grey5: rgb(60, 60, 60);
}

body {
  font-size: var(--size);
  background-color: var(--bg);
}

button {
  @apply cursor-pointer;
}

.app {
  margin: 1em;
}

.home-button {
  @apply fixed block top-0 right-0 z-20;
  width: 46px;
  height: 46px;

  &:hover {
    > span {
      color: var(--grey5);
    }

    .triangle {
      border-color: transparent #87c247 transparent transparent;
    }
  }

  > span {
    @apply absolute top-0 right-0;
    color: black;
  }

  .triangle {
    @apply absolute top-0 right-0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 46px 46px 0;
    border-color: transparent #608a32 transparent transparent;
  }
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  mask-size: 24px 24px;
  background-color: currentcolor;
}

.icon.open-in-new {
  mask-image: url("./icons/open-in-new.svg");
}

.icon.content-copy {
  mask-image: url("./icons/content-copy.svg");
}

.icon.home {
  mask-image: url("./icons/home.svg");
}
