@import "tailwindcss";
@import "./_shared/beer.css";
@import "./_shared/shared.css";

.utils-container {
  @apply mt-6;

  .utils-title {
    @apply text-xl mb-4 italic;
  }

  .utils-grid {
    @apply flex flex-wrap gap-2;

    .util {
      @apply block border;
      max-width: 300px;

      .util-main {
        @apply block p-2 no-underline;

        &:hover {
          background-color: var(--grey1);
          border-color: var(--grey1);
        }

        .util-title {
          @apply text-lg mb-2;
          padding-right: 38px;
        }

        .util-desc {
        }
      }

      &.util-no-actions {
        .util-main {
          @apply h-full;
        }

        .util-actions {
          @apply hidden;
        }
      }

      .util-actions {
        @apply flex flex-row;

        border-top: 1px solid var(--grey3);

        .util-action {
          @apply block p-2 no-underline;

          &:hover {
            background-color: var(--grey1);
            border-color: var(--grey1);
          }
        }
      }

      .util-new-tab {
        @apply absolute top-0 right-0;
        color: #1c1b1e;

        &:after {
          border-radius: 0 !important;
        }
      }
    }

    @media (max-width: 500px) {
      @apply block;

      .util {
        @apply max-w-full mb-2;
      }
    }
  }
}
